body {
text-align: center;
font-family: Helvetica;
font-size: 22px;
color: seashell;
background-color: black;
opacity: 0.9;
}

header  {
    display: flex;
    width: 95%;
    position: fixed;
    z-index: 1;
    height: 69px;
    background-color: black;
    align-items: center;
    border-bottom: 1px solid seashell;
    color: seashell;

}

nav {
  text-align: right;
  flex-grow: 1;
  }
nav span {
  display: inline-block;
  padding: 20px 10px;
}
  .logo {
  height: 50px;
  margin-left: 10px;
  align-items: center;
  display: flex;
  flex-grow: 1;
  height: 50px;

}
a {
  color: seashell;
  text-decoration: underline;
  font-size: 22px;
  }


h2 h5 {
  font-weight: bold;
  display: block;
  text-align: center;
}
figure {

  display: inline-block;

  }

h2 h4 {
  padding: 10px;
  margin: 0px;
}

.location  {
    flex-direction: row;
    display: inline-block;
    opacity: 1.0;
    margin: 20px;
    padding-top: 70px;
    text-align: center;
    border-spacing: 40px;
    align-items: stretch;
    justify-content: space-around;
  }
.flex-container2 {
  background-image height: 100px;
  background-image width: 100px;

  display: inline-block;

  background-color: forestgreen;
  height: 300px;
  width: 300px;
  text-align: center;
  spacing: 80px;

  }
.contact {
  height: 200px;
}
footer{
	text-align: left;
	padding-left: 20px;
  color: seashell;
}
